.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.list {
padding: 3em;
margin-right: 2em;
}
.item {
  display: flex;
  margin-bottom: 0.5em;
}
.contact {
  margin-right: 3em;
}
.delete {
  display: flex;
  align-self: flex-end;
}
.form {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}
.line {
  margin-bottom: 1em;
}
.namelabel {
  margin-right: 1em;
}
.create {
  width: 30%;
  align-self: flex-end;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
